<xoyo-navbar [title]="app.title|async" [list]="app.navList|async">
  <ng-template let-info>
    <div class="nav_item" [routerLink]="['/'+info.link]">
      <img class="icon" [src]="info.picture" alt="">
      <span class="title">{{info.title}}</span>
    </div>
  </ng-template>
</xoyo-navbar>
<router-outlet></router-outlet>
<ng-template let-info #tabItem>
  <a [routerLink]="['/'+info.link]" class="navLink">
    <span>
      <img [src]="info.picture">
    </span>
    <span>{{info?.title}}</span>
  </a>
</ng-template>
<xoyo-tabbar [tabList]="app.tabList|async" [templateRef]="tabItem"></xoyo-tabbar>