.nav_item {
  text-align: center;
  line-height: 41.672px;
  .title {
    margin: 0 10px;
    font-size: 14px;
  }
  .icon {
    width: 16.5px;
    vertical-align: middle;
    margin-top: -4px;
  }
}
