<xoyo-user-card></xoyo-user-card>
<xoyo-cell>
  <xoyo-cell-item title="修改密码" arrow="true" icon="//xoyo.xoyocdn.com/mobile/img/icon-change-password.62e62960.png">
  </xoyo-cell-item>
</xoyo-cell>

<xoyo-cell>
  <xoyo-cell-item title="手机更换" arrow="true" tip="131******08"
    icon="//xoyo.xoyocdn.com/mobile/img/icon-phone-purple.6605576a.png">
  </xoyo-cell-item>
  <xoyo-cell-item title="邮箱绑定" arrow="true" icon="//xoyo.xoyocdn.com/mobile/img/icon-mail-red.1ae8b6f3.png">
  </xoyo-cell-item>
</xoyo-cell>

<xoyo-cell>
  <xoyo-cell-item title="账号冻结" arrow="true" tip="未绑定" icon="//xoyo.xoyocdn.com/mobile/img/icon-freeze.5b5efe41.png">
  </xoyo-cell-item>
  <xoyo-cell-item title="账号解冻" arrow="true" icon="//xoyo.xoyocdn.com/mobile/img/icon-unfreeze.59178205.png">
  </xoyo-cell-item>
  <xoyo-cell-item title="踢号下线" arrow="true" icon="//xoyo.xoyocdn.com/mobile/img/icon-kick.25ba316a.png">
  </xoyo-cell-item>
</xoyo-cell>

<xoyo-cell>
  <xoyo-cell-item title="服务热线" tip="028-85437733" icon="//xoyo.xoyocdn.com/mobile/img/icon-custom.2b587359.png">
  </xoyo-cell-item>
</xoyo-cell>