<div class="charge-items">
  <div class="charge-items-production">
    <div class="charge-items-production-category" style="font-size: 0.3rem; margin: 0.5rem 0px; padding: 0px 0.5rem;">
      <xoyo-block-title title="剑侠系列" arrow="//xoyo.xoyocdn.com/mobile/img/img-common-flex-nav-title-arrow.0d38ba06.png">
      </xoyo-block-title>
    </div>
    <div class="charge-items-production-box">
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228103001263.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑网3</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228114859563.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑网2收费区</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228022226805.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑网2免费区</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228022319311.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑侠2外传</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228022445686.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑网2新传</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2018/0827/20180827123431928.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑侠世界</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228022956415.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑网1_2010新版</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228022632877.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑网1免费区</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228022712349.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑网1收费区</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228023114115.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">剑网1经典版</p>
      </div>
    </div>
  </div>
  <div class="charge-items-production">
    <div class="charge-items-production-category" style="font-size: 0.3rem; margin: 0.5rem 0px; padding: 0px 0.5rem;">
      <xoyo-block-title title="其他系列" arrow="//xoyo.xoyocdn.com/mobile/img/img-common-flex-nav-title-arrow.0d38ba06.png">
      </xoyo-block-title>
    </div>
    <div class="charge-items-production-box">
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228024533718.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">反恐行动</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228025150475.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">封神榜(元宝区)</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228025329441.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">封神榜(通宝区)</p>
      </div>
      <div class="charge-items-production-box-item">
        <div class="charge-items-production-box-item-icon"><img
            src="https://content.xoyo.com/uploadfile/2017/1228/20171228025055492.png" alt=""></div>
        <p class="charge-items-production-box-item-name tips-color">春秋Q传</p>
      </div>
    </div>
  </div>
</div>