:host {
  padding: 10px 25px 40px 25px;
  display: block;
}

.tips-color {
  color: #888;
  padding: 10px 0px;
}

.color-blue {
  color: #85aff0;
}

.send-code {
  width: 91px;
  height: 21px;
  border: 1px solid #f7d073;
  border-radius: 50px;
  background-color: transparent;
  vertical-align: baseline;
  font: 100% tahoma, \5b8b\4f53, arial;
}
