<div class="game-center child-view">
  <div class="wrap">
    <xoyo-top-tap [tabs]="tabs"></xoyo-top-tap>
  </div>
  <div class="yd-tab">
    <div class="yd-tab-box yd-tab-nav-nomal">
      <ul class="yd-tab-nav" style="color: rgb(255, 94, 83); width: auto;">
        <li class="yd-tab-nav-item yd-tab-active"><a href="javascript:"></a></li>
        <li class="yd-tab-nav-item"><a href="javascript:"></a></li>
      </ul>
    </div>
    <div class="yd-tab-panel">
      <div class="yd-tab-panel-item yd-tab-active">
        <div class="panel-list">
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/1227/20181227031630124.png" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">剑网3</p>
              <p class="game-description">全新资料片“怒海争锋”震撼来袭，鲲鹏岛携海量新玩法同步登场！吃鸡远征绝境孤岛！
              </p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/0615/20180615094153938.jpg" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">剑网3指尖江湖</p>
              <p class="game-description">由西山居剑网3端游原班制作团队历时多年打造的国风MMOARPG手游！</p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/0907/20180907111805589.png" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">剑侠世界2手游 </p>
              <p class="game-description">手游资料片“天工开物”全平台上新。全新「生活系统」，开启你的造物江湖传说。</p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/1105/20181105070521930.png" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">剑侠情缘2剑歌行</p>
              <p class="game-description">由西山居原班团队打造、腾讯游戏独家代理的全新国风武侠MMORPG手游。</p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/0614/20180614055452534.png" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">云裳羽衣</p>
              <p class="game-description"> 多世界穿越的3D古风换装手游，提供丰富换装玩法，命运之子养成等等。</p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/1031/20181031122505110.png" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">仙剑奇侠传4</p>
              <p class="game-description">大宇授权，西山居研发，腾讯独家发行的官方正版MMO手游。</p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/0615/20180615094104655.jpg" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">剑侠世界</p>
              <p class="game-description">十年情义并重，赠百万绑金，享超值返还；十年“缘”来有“礼”，盛事狂欢倾情回馈！</p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <!---->
          <!---->
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/0615/20180615094339188.jpg" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">反恐行动</p>
              <p class="game-description">由西山居所开发突出时尚浪漫主题的FPS枪战网游。</p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <div class="panel-list-item">
            <div class="panel-list-item-left">
              <div class="icon"><img src="https://content.xoyo.com/uploadfile/2018/0615/20180615094409650.jpg" alt="">
              </div>
            </div>
            <div class="panel-list-item-center">
              <p class="game-name">魔域手游</p>
              <p class="game-description">全新一代官方手游，2亿老玩家青春献礼之作。</p>
            </div>
            <div class="panel-list-item-right">
              <div class="icon"><img src="//xoyo.xoyocdn.com/mobile/img/icon-righ-arrow.66f4f9fb.png" alt=""></div>
            </div>
          </div>
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
        </div>
      </div>
    </div>
  </div>
</div>