<xoyo-section-outer>
  <xoyo-section-title [title]="'安全中心'"></xoyo-section-title>
  <xoyo-link-list [dataList]="securityList"></xoyo-link-list>
</xoyo-section-outer>

<xoyo-section-outer>
  <xoyo-section-title [title]="'个人中心'"></xoyo-section-title>
  <xoyo-link-list [dataList]="mineList"></xoyo-link-list>
</xoyo-section-outer>

<xoyo-section-outer>
  <xoyo-section-title [title]="'为您推荐'"></xoyo-section-title>
</xoyo-section-outer>

<xoyo-section-outer>
  <xoyo-section-title [title]="'客服中心'"></xoyo-section-title>
</xoyo-section-outer>
